@{
    ViewData["Title"] = "داشبورد";

    @inject MediatR.ISender Mediator

    var statusReports = await Mediator.Send(new GetGeneralStatusReportQuery());
}

@section scripts{
    <script src="~/lib/chart/js/Chart.min.js"></script>
    <script src="~/lib/chart/js/Chart.extension.js"></script>
}

@section header{
    <!-- card stats -->
    <div class="row">
        <!-- users status -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">تعداد کاربران</h5>
                            <span class="h2 font-weight-bold mb-0">@statusReports.UsersStatus.TotalCount</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                <i class="ni ni-single-02"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- attempts status -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">تعداد شرکت‌کنندگان</h5>
                            <span class="h2 font-weight-bold mb-0">@statusReports.AttemptsStatus.TotalCount</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                <i class="ni ni-trophy"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- roles status -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">تعداد نقش‌ها</h5>
                            <span class="h2 font-weight-bold mb-0">@statusReports.RolesStatus.TotalCount</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                                <i class="ni ni-key-25"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- exams status -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">تعداد آزمون‌ها</h5>
                            <span class="h2 font-weight-bold mb-0">@statusReports.ExamsStatus.TotalCount</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                <i class="ni ni-paper-diploma"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- questions status -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">تعداد سوالات</h5>
                            <span class="h2 font-weight-bold mb-0">@statusReports.QuestionsStatus.TotalCount</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-pink text-white rounded-circle shadow">
                                <i class="ni ni-sound-wave"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- options status -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">تعداد گزینه‌ها</h5>
                            <span class="h2 font-weight-bold mb-0">@statusReports.OptionsStatus.TotalCount</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                                <i class="ni ni-active-40"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- options status -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">تعداد پاسخ‌ها</h5>
                            <span class="h2 font-weight-bold mb-0">@statusReports.AnswersStatus.TotalCount</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                <i class="ni ni-planet"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- faqs status -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">تعداد سوالات متداول</h5>
                            <span class="h2 font-weight-bold mb-0">@statusReports.FaqsStatus.TotalCount</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                <i class="ni ni-hat-3"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-12 mb-5">
        <div class="card">
            <div class="card-header bg-transparent">
                <div>
                    <h6 class="text-uppercase text-muted ls-1 mb-1">بررسی اجمالی</h6>
                    <h5 class="h3 mb-0">شرکت در آزمون‌ها</h5>
                </div>
            </div>
            <div class="card-body">
                <!-- chart -->
                <div class="chart">
                    <canvas id="exams-visits-chart" class="chart-canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
