@{
    Layout = "_adminLayout";
    ViewData["Title"] = "داشبورد";

    @inject MediatR.ISender Mediator

    var statusReports = await Mediator.Send(new GetStatusReportsQuery());
}

@section scripts{
    <script src="~/lib/chart/js/Chart.min.js"></script>
    <script src="~/lib/chart/js/Chart.extension.js"></script>
}

@section header{
    <!-- card stats -->
    <div class="row">
        <!-- users status -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">تعداد کاربران</h5>
                            <span class="h2 font-weight-bold mb-0">@statusReports.UsersStatus.TotalCount</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                <i class="ni ni-single-02"></i>
                            </div>
                        </div>
                    </div>
                    @*<p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                            <span class="text-nowrap">کاهش</span>
                        </p>*@
                </div>
            </div>
        </div>
        <!-- roles status -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">تعداد نقش‌ها</h5>
                            <span class="h2 font-weight-bold mb-0">@statusReports.RolesStatus.TotalCount</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                                <i class="ni ni-key-25"></i>
                            </div>
                        </div>
                    </div>
                    @*<p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                            <span class="text-nowrap">کاهش</span>
                        </p>*@
                </div>
            </div>
        </div>
        <!-- exams status -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">تعداد آزمون‌ها</h5>
                            <span class="h2 font-weight-bold mb-0">@statusReports.ExamsStatus.TotalCount</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                <i class="ni ni-paper-diploma"></i>
                            </div>
                        </div>
                    </div>
                    @*<p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                            <span class="text-nowrap">افزایش</span>
                        </p>*@
                </div>
            </div>
        </div>
        <!-- questions status -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">تعداد سوالات</h5>
                            <span class="h2 font-weight-bold mb-0">@statusReports.QuestionsStatus.TotalCount</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-pink text-white rounded-circle shadow">
                                <i class="ni ni-sound-wave"></i>
                            </div>
                        </div>
                    </div>
                    @*<p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                            <span class="text-nowrap">افزایش</span>
                        </p>*@
                </div>
            </div>
        </div>
        <!-- options status -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">تعداد گزینه‌ها</h5>
                            <span class="h2 font-weight-bold mb-0">@statusReports.OptionsStatus.TotalCount</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                                <i class="ni ni-active-40"></i>
                            </div>
                        </div>
                    </div>
                    @*<p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                            <span class="text-nowrap">افزایش</span>
                        </p>*@
                </div>
            </div>
        </div>
        <!-- options status -->
        <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title text-uppercase text-muted mb-0">تعداد پاسخ‌ها</h5>
                            <span class="h2 font-weight-bold mb-0">@statusReports.AnswersStatus.TotalCount</span>
                        </div>
                        <div class="col-auto">
                            <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                                <i class="ni ni-planet"></i>
                            </div>
                        </div>
                    </div>
                    @*<p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                            <span class="text-nowrap">افزایش</span>
                        </p>*@
                </div>
            </div>
        </div>
    </div>
}