<!DOCTYPE html>
<html>
<head>
    <title>پُرس - @ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">

    <!-- favicon -->
    <link async rel="icon" type="image/png" href="~/img/defaults/favicon.png">

    <!-- librarys -->
    <link async rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-rtl.min.css">

    @RenderSection("styles", false)

    <!-- fonts -->
    <link async rel="stylesheet" href="~/fonts/yekan/css/yekan.css">
    <link async rel="stylesheet" href="~/fonts/nucleo/css/nucleo.min.css">
    <link async rel="stylesheet" href="~/fonts/fontawesome/css/fontawesome.min.css">

    <!-- styles -->
    <link async rel="stylesheet" href="~/css/argon.css" />
    <link async rel="stylesheet" href="~/css/main.management.css" />
</head>
<body>
    <!-- sidebar -->
    <partial name="_adminSidebar" />

    <!-- main content -->
    <div class="main-content">

        <!-- navbar -->
        <partial name="_adminNavbar" />

        <!-- header -->
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    @RenderSection("header", false)
                </div>
            </div>
        </div>

        <!-- content -->
        <div class="container-fluid mt--7">
            @RenderBody()
            <!-- footer -->
            <footer class="py-5">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="copyright text-center text-xl-left text-muted">
                        <span>طراحی و توسعه:</span> <a href="https://nabawi.info" class="font-weight-bold ml-1" target="_blank">مجتبی نبوی</a>
                    </div>
                    <div>
                        <span>سامانه‌ی پُرس</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- librarys -->
    <script src="~/lib/jquery/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/js/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/js/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("scripts", false)

    <!-- scripts -->
    <script src="~/js/argon.js"></script>
    <script src="~/js/main.management.js"></script>
</body>
</html>