@{
    @inject Pors.Website.Services.CurrentUserService CurrentUser
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>پرس - @ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="./img/brand/favicon.png">

    <!-- librarys -->
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css" />

    <!-- fonts -->
    <link rel="stylesheet" href="./fonts/yekan/css/yekan.css">
    <link rel="stylesheet" href="./fonts/nucleo/css/nucleo.css">
    <link rel="stylesheet" href="./fonts/fontawesome/css/all.min.css">

    <!-- styles -->
    <link rel="stylesheet" href="./css/argon.css" />
    <link rel="stylesheet" href="./css/main.css" />

</head>
<body>

    <!-- sidebar -->
    <partial name="_sidebar" />

    <!-- main content -->
    <div class="main-content">
        <!-- navbar -->
        <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
            <div class="container-fluid">
                <!-- brand -->
                <p class="h4 mb-0 text-white d-none d-lg-inline-block">خوش آمدید</p>
                <!-- form -->
                <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
                    <div class="form-group mb-0">
                        <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input class="form-control" placeholder="جستجو" type="text">
                        </div>
                    </div>
                </form>
                <!-- user -->
                <ul class="navbar-nav align-items-center d-none d-md-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="media align-items-center">
                                <span class="avatar avatar-sm rounded-circle">
                                    <img alt="Image placeholder" src="@CurrentUser.ProfilePicture">
                                </span>
                                <div class="media-body ml-2 d-none d-lg-block">
                                    <span class="mb-0 text-sm  font-weight-bold">@CurrentUser.DisplayName</span>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                            <a asp-controller="profile" asp-action="index" class="dropdown-item">
                                <i class="ni ni-single-02"></i>
                                <span>حساب کاربری</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a asp-controller="identity" asp-action="logout" class="dropdown-item">
                                <i class="ni ni-user-run"></i>
                                <span>خروج از حساب</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- header -->
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                    @RenderSection(name: "header",required: false)
                </div>
            </div>
        </div>

        <!-- content -->
        <div class="container-fluid mt--7">
            @RenderBody()
        </div>
    </div>

    <!-- librarys -->
    <script src="./lib/jquery/js/jquery.min.js"></script>
    <script src="./lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./lib/survey/js/survey.jquery.min.js"></script>

    <!-- scripts -->
    <script src="./js/argon.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>