@{
    @inject ICurrentUserService CurrentUser
}

<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- brand -->
        <a class="navbar-brand pt-0" asp-controller="home" asp-action="index">پنل مدیریت</a>
        <!-- user -->
        <ul class="nav align-items-center d-md-none">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="media align-items-center">
                        <span class="avatar avatar-sm rounded-circle">
                            <img alt="Image placeholder" src="@CurrentUser.ProfilePicture">
                        </span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                    <a asp-controller="profile" asp-action="index" class="dropdown-item">
                        <i class="ni ni-single-02"></i>
                        <span>حساب کاربری</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="identity" asp-action="logout" class="dropdown-item">
                        <i class="ni ni-user-run"></i>
                        <span>خروج از حساب</span>
                    </a>
                </div>
            </li>
        </ul>
        <!-- collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">منو</div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- navigation -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a asp-controller="home" asp-action="index" class="nav-link @Html.IsActive("home", "index")">
                        <i class="ni ni-tv-2 text-primary"></i> داشبورد
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @Html.IsActive("user", "index,create")" href="#navbar-users" data-toggle="collapse">
                        <i class="ni ni-single-02 text-red"></i>
                        <span>کاربران</span>
                    </a>
                    <div class="collapse" id="navbar-users">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a asp-controller="user" asp-action="index" class="nav-link @Html.IsActive("user", "index")">لیست کاربران</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="user" asp-action="create" class="nav-link @Html.IsActive("user", "create")">ایجاد کاربر</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link @Html.IsActive("role", "index,create")" href="#navbar-rols" data-toggle="collapse">
                        <i class="ni ni-key-25 text-green"></i>
                        <span>نقش‌ها</span>
                    </a>
                    <div class="collapse" id="navbar-rols">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a asp-controller="role" asp-action="index" class="nav-link @Html.IsActive("role", "index")">لیست نقش‌ها</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="role" asp-action="create" class="nav-link @Html.IsActive("role", "create")">ایجاد نقش</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled @Html.IsActive("permission", "index")" href="#navbar-acess" data-toggle="collapse">
                        <i class="ni ni-app text-info"></i>
                        <span>سطوح دسترسی</span>
                    </a>
                    <div class="collapse" id="navbar-acess">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a asp-controller="permission" asp-action="index" class="nav-link @Html.IsActive("permission", "index")">لیست سطوح دسترسی</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link @Html.IsActive("exam,attempt", "index,create")" href="#navbar-exams" data-toggle="collapse">
                        <i class="ni ni-paper-diploma text-primary"></i>
                        <span>آزمون‌ها</span>
                    </a>
                    <div class="collapse" id="navbar-exams">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a asp-controller="exam" asp-action="index" class="nav-link @Html.IsActive("exam", "index")">لیست آزمون‌ها</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="attempt" asp-action="index" asp-route-id="" class="nav-link @Html.IsActive("attempt", "index")">لیست شرکت‌کنندگان</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="exam" asp-action="create" class="nav-link @Html.IsActive("exam", "create")">ایجاد آزمون</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link @Html.IsActive("question", "index,create")" href="#navbar-questions" data-toggle="collapse">
                        <i class="ni ni-sound-wave text-pink"></i>
                        <span>سوالات</span>
                    </a>
                    <div class="collapse" id="navbar-questions">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a asp-controller="question" asp-action="index" class="nav-link @Html.IsActive("question", "index")">لیست سوالات</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="question" asp-action="create" class="nav-link @Html.IsActive("question", "create")">ایجاد سوال</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link @Html.IsActive("option", "index")" href="#navbar-options" data-toggle="collapse">
                        <i class="ni ni-active-40 text-info"></i>
                        <span>گزینه‌ها</span>
                    </a>
                    <div class="collapse" id="navbar-options">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a asp-controller="option" asp-action="index" class="nav-link @Html.IsActive("option", "index")">لیست گزینه‌ها</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link @Html.IsActive("answer", "index")" href="#navbar-answers" data-toggle="collapse">
                        <i class="ni ni-planet text-primary"></i>
                        <span>پاسخ‌ها</span>
                    </a>
                    <div class="collapse" id="navbar-answers">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a asp-controller="answer" asp-action="index" class="nav-link @Html.IsActive("answer", "index")">لیست پاسخ‌ها</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
