@model GetExamResultQueryResponse
@{
    Layout = "_publicLayout";
    ViewData["Title"] = $"نتایج {Model.ExamTitle}";
}

@section styles{
    <link rel="stylesheet" href="~/lib/sweetalert2/css/sweetalert2.min.css" />
}

@section scripts{
    <script src="~/lib/sweetalert2/js/sweetalert2.all.min.js"></script>
}

<section class="ptb-100 gray-light-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8">
                <div class="section-heading text-center mb-5 mb-sm-5 mb-md-3 mb-lg-5">
                    <h2>@ViewData["Title"]</h2>
                    <p>شناسه‌: @Model.AttemptId</p>
                </div>
            </div>
        </div>
        <section id="validation">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body p-5">
                                @if (Model.Answers.Any())
                                {
                                    @foreach (var answer in Model.Answers)
                                    {
                                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                                            <h5>@answer.QuestionTitle</h5>
                                            <button class="btn btn-sm outline-btn bg-transparent mr-md-3 mb-3 mb-sm-0" data-toggle="collapse" data-target="#comment-@answer.Id">ثبت نظر</button>
                                        </div>

                                        <p>پاسخ شما: <span>@answer.AnswerTitle</span></p>
                                        <p class="text-justify">توضیحات: @answer.AnswerDescription</p>
                                        @if (answer.AnswerImage != null)
                                        {
                                            <img class="d-block my-2 w-100" src="~/@answer.AnswerImage" alt="@answer.AnswerTitle" />
                                        }
                                        <div id="comment-@answer.Id" role="tabpanel" class="collapse">
                                            <div class="gray-light-bg border border-accent-primary mb-4 p-3">
                                                <form class="exam-comment-form" asp-controller="exams" asp-action="comment" method="post">
                                                    <input type="hidden" name="Id" value="@answer.Id" />
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="">آیا پاسخ از نظر شما صحیح است؟</label>
                                                                <select name="IsCorrect" class="form-control has-value">
                                                                    @if (answer.CommentIsCorrect)
                                                                    {
                                                                        <option value="true" selected>بله</option>
                                                                        <option value="false">خیر</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="true">بله</option>
                                                                        <option value="false" selected>خیر</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="">توضیحات</label>
                                                                <textarea name="Description" rows="4" class="form-control" placeholder="از نظر من...">@answer.CommentDescription</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 d-flex justify-content-end">
                                                            <button type="submit" data-action="loading" class="btn btn-sm primary-solid-btn">ثبت</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p class="text-center">متاسفانه پاسخ آزمون شما یافت نشد!</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
