@model GetExamResultQueryResponse
@{
    ViewData["Title"] = $"نتایج {Model.ExamTitle}";
}

@section styles{
    <link rel="stylesheet" href="~/lib/barrating/css/fontawesome-stars.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/css/sweetalert2.min.css" />
}

@section scripts{
    <script src="~/lib/barrating/js/jquery.barrating.min.js"></script>
    <script src="~/lib/sweetalert2/js/sweetalert2.all.min.js"></script>
}

<section class="ptb-100 gray-light-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8">
                <div class="section-heading text-center mb-5 mb-sm-5 mb-md-3 mb-lg-5">
                    <h2>@ViewData["Title"]</h2>
                    <p>شناسه‌: @Model.AttemptId</p>
                </div>
            </div>
        </div>
        <section id="validation">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body p-5">
                                @if (Model.Answers.Any())
                                {
                                    @foreach (var answer in Model.Answers)
                                    {
                                        <div class="d-flex flex-wrap justify-content-center justify-content-md-between align-items-center mb-3">
                                            <h5 class="exam-question-title mb-3 mb-md-0">@answer.QuestionTitle</h5>
                                            <div class="rating d-flex align-items-center my-2 my-md-0">
                                                <p class="mb-0">میزان درستی پاسخ:</p>
                                                <select data-answer-id="@answer.Id" class="barrating">
                                                    <option value="1" selected="@((int)answer.CommentStatus == 1)"> غلط </option>
                                                    <option value="2" selected="@((int)answer.CommentStatus == 2)"> نسبتا غلط </option>
                                                    <option value="3" selected="@((int)answer.CommentStatus == 3)"> نسبتا صحيح </option>
                                                    <option value="4" selected="@((int)answer.CommentStatus == 4)"> صحيح </option>
                                                </select>
                                            </div>
                                        </div>

                                        <p>پاسخ شما: <span>@answer.AnswerTitle</span></p>
                                        <p class="text-justify">@answer.AnswerDescription</p>
                                    }
                                }
                                else
                                {
                                    <p class="text-center">متاسفانه پاسخ آزمون شما یافت نشد!</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
