@model GetExamForAttemptQueryResponse
@{
    ViewData["Title"] = Model.Title;
}

@section styles{
    <link rel="stylesheet" href="~/lib/jquery-steps/css/jquery.steps.css" />
}

@section scripts{
    <script src="~/lib/jquery-steps/js/jquery.steps.min.js"></script>
    <script src="~/lib/jquery-validation//js/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/js/jquery.validate.unobtrusive.min.js"></script>
}

<section class="ptb-100 gray-light-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-8">
                <div class="section-heading text-center mb-5 mb-sm-5 mb-md-3 mb-lg-5">
                    <h2>@Model.Title</h2>
                </div>
            </div>
        </div>
        <section>
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                @if (ViewContext.ModelState.IsValid)
                                {
                                    <form id="exam-form-wizard" asp-action="answer" method="post" class="exam-form-wizard">
                                        <input type="hidden" asp-for="AttemptId" />
                                        @for (int i = 0; i < Model.Questions.Count; i++)
                                        {
                                            <h6><i class="step-icon"></i></h6>
                                        }
                                        @for (int i = 0; i < Model.Questions.Count; i++)
                                        {
                                            <fieldset class="p-4">
                                                <h5 class="exam-question-title">@Model.Questions[i].Title <label class="answer-error"></label></h5>
                                                <input type="hidden" name="answers[@i][questionId]" value="@Model.Questions[i].Id" />
                                                @foreach (var option in Model.Questions[i].Options)
                                                {
                                                    <div class="custom-control custom-radio mb-3">
                                                        <input type="radio" name="answers[@i][optionId]" value="@option.Id" class="custom-control-input" id="option-@option.Id" required>
                                                        <label class="custom-control-label" for="option-@option.Id">
                                                            @option.Title
                                                            @if (option.Image != null)
                                                            {
                                                                <img class="option-image" src="~/@option.Image" alt="@option.Title" />
                                                            }
                                                        </label>
                                                        
                                                    </div>
                                                }
                                            </fieldset>
                                        }
                                    </form>
                                }
                                else
                                {
                                    <div class="text-center mt-auto py-5">
                                        <div asp-validation-summary="ModelOnly" class="text-center mb-4"></div>
                                        <a asp-controller="home" asp-action="index" class="btn outline-btn mt-3">بازگشت به صفحه‌ی اصلی</a>
                                        <a asp-controller="exams" asp-action="attempt" asp-route-id="@Model.Id" class="btn primary-solid-btn mt-3">آزمون مجدد</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>