@model PagingResult

@{
    var maxLinkCount = 10;

    string GetUrl(int page)
    {
        return $"?page={page}&pageSize={Model.PageSize}";
    }
}

@if (Model.TotalPages > 1)
{
    <div class="pagination-wrapper">
        <ul class="pagination">
            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="@GetUrl(1)">صفحه‌ی اول</a>
            </li>
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled": "")">
                    <a class="page-link" href="@GetUrl(Model.CurrentPage-1)">@("<")</a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                var halfTotalLinkCount = Math.Floor(maxLinkCount / (decimal)2);
                var from = Model.CurrentPage - halfTotalLinkCount;
                var to = Model.CurrentPage + halfTotalLinkCount;

                if (Model.CurrentPage < halfTotalLinkCount)
                {
                    to += halfTotalLinkCount - Model.CurrentPage;
                }

                if (Model.TotalPages - Model.CurrentPage < halfTotalLinkCount)
                {
                    from -= halfTotalLinkCount - (Model.TotalPages - Model.CurrentPage) - 1;
                }



                if (from < i && i < to)
                {
                    <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                        <a class="page-link" href="@GetUrl(i)">@i</a>
                    </li>
                }
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled": "")">
                    <a class="page-link" href="@GetUrl(Model.CurrentPage+1)">></a>
                </li>
            }

            <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disaled" : "")">
                <a class="page-link" href="@GetUrl(Model.TotalPages)">صفحه‌ی آخر</a>
            </li>
        </ul>
    </div>
}