@{
    ViewData["Title"] = "صفحه‌ی اصلی";

    @inject MediatR.ISender MediatR

    var newestExams = await MediatR.Send(new GetExamsQuery(SortTypes.Newest, 1, 8));
    var mostVisitedExams = await MediatR.Send(new GetExamsQuery(SortTypes.MostVisited, 1, 8));
}

@section styles{
    <link rel="stylesheet" href="~/lib/owl-carousel/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/lib/owl-carousel/css/owl.theme.default.min.css" />
}

@section scripts{
    <script src="~/lib/owl-carousel/js/owl.carousel.min.js"></script>
}

<!-- hero -->
<section class="hero-equal-height section-bg ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8">
                <div class="hero-content-wrap text-white text-center position-relative z-index">
                    <h1 class="text-white">پُرس، سامانه‌ی پرسش و پاسخ</h1>
                    <p class="lead mb-5">
                        در آزمون‌ها شرکت کنید و درکنار دریافت پاسخ، نسبت به صحت و درستی‌ آن‌ها نظر دهید
                    </p>
                    <div class="domain-search-wrap">
                        <form asp-controller="exams" asp-action="index" method="get" class="domain-search-form w-75 d-block mx-auto">
                            <div class="input-group">
                                <input name="title" type="text" class="form-control" placeholder="جستجوی آزمون" required>
                                <div class="input-group-append">
                                    <button class="btn search-btn btn-hover d-flex align-items-center" type="submit">
                                        <span>جستجو</span>
                                        <span class="ti-search mr-2"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- newest exams -->
@if (newestExams.Items.Any())
{
    <section class="our-services ptb-100 gray-light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="section-heading text-center mb-5">
                        <h2>جدیدترین آزمون‌ها</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="owl-carousel owl-theme exams-carousel custom-dot dot-bottom-center owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage">
                                @foreach (var exam in newestExams.Items)
                                {
                                    <div class="owl-item">
                                        <div class="single-blog-card card border-0 shadow-sm">
                                            <span class="category position-absolute badge badge-pill badge-primary">
                                                بدون دسته‌بندی
                                            </span>
                                            <img src="~/@exam.Image" class="card-img-top position-relative" alt="@exam.Title" />
                                            <div class="card-body">
                                                <div class="post-meta mb-2">
                                                    <ul class="list-inline meta-list d-flex justify-content-between">
                                                        <li class="d-inline">@exam.CreatedAt</li>
                                                        <li class="list-inline-item">
                                                            <span>@exam.VisitCount</span> بازدید
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h3 class="h5 card-title">
                                                    <a asp-controller="exams" asp-action="attempt" asp-route-id="@exam.Id">@exam.Title</a>
                                                </h3>
                                                <p class="card-text">@exam.ShortDescription</p>
                                                <div class="text-center mt-auto">
                                                    <a asp-controller="exams" asp-action="attempt" asp-route-id="@exam.Id" class="btn outline-btn">شرکت در آزمون</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <h5 class="mb-1 d-flex align-items-center justify-content-center">
                    <span class="ti-loop color-primary mr-3 icon-sm"></span>
                    <a asp-controller="exams" asp-action="index" asp-route-sortType="1" class="ml-2">مشاهده‌ی بیشتر</a>
                </h5>
            </div>
        </div>
    </section>
}

<!-- most visited exams -->
@if (mostVisitedExams.Items.Any())
{
    <section class="our-services ptb-100 gray-light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-8">
                    <div class="section-heading text-center mb-5">
                        <h2>پر بازدیدترین آزمون‌ها</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="owl-carousel owl-theme exams-carousel custom-dot dot-bottom-center owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage">
                                @foreach (var exam in mostVisitedExams.Items)
                                {
                                    <div class="owl-item">
                                        <div class="single-blog-card card border-0 shadow-sm">
                                            <span class="category position-absolute badge badge-pill badge-primary">
                                                بدون دسته‌بندی
                                            </span>
                                            <img src="~/@exam.Image" class="card-img-top position-relative" alt="@exam.Title" />
                                            <div class="card-body">
                                                <div class="post-meta mb-2">
                                                    <ul class="list-inline meta-list d-flex justify-content-between">
                                                        <li class="d-inline">@exam.CreatedAt</li>
                                                        <li class="list-inline-item">
                                                            <span>@exam.VisitCount</span> بازدید
                                                        </li>
                                                    </ul>
                                                </div>
                                                <h3 class="h5 card-title">
                                                    <a asp-controller="exams" asp-action="attempt" asp-route-id="@exam.Id">@exam.Title</a>
                                                </h3>
                                                <p class="card-text">@exam.ShortDescription</p>
                                                <div class="text-center mt-auto">
                                                    <a asp-controller="exams" asp-action="attempt" asp-route-id="@exam.Id" class="btn outline-btn">شرکت در آزمون</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <h5 class="mb-1 d-flex align-items-center justify-content-center">
                    <span class="ti-loop color-primary mr-3 icon-sm"></span>
                    <a asp-controller="exams" asp-action="index" asp-route-sortType="2" class="ml-2">مشاهده‌ی بیشتر</a>
                </h5>
            </div>
        </div>
    </section>
}